---
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.tsx";
import { getCollection } from "astro:content";
import PortfolioLayout from "../layouts/PortfolioLayout.astro";

const projects = await getCollection("projects");

const pageTitle = "Projets";
---

<BaseLayout pageTitle={pageTitle}>
    <PortfolioLayout pageTitle={pageTitle}>
        <div class="projectsList">
            {projects.filter(project => !project.data.disabled).map(project => (
                    <Project name={project.data.title} description={project.data.description} url={project.data.link} />
            ))}
        </div>
    </PortfolioLayout>
</BaseLayout>
